html {
    background: #373737;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* or 150% */

    letter-spacing: 0.02em;
}

form label {
    display: inline-block;
    width: auto;

    color: #ADFF00;
    font-size: 24px;
    margin-right: 10px;
}

form div {
    margin-bottom: 10px;
}


.main-box {
    padding: 30px;
    display: grid;
    grid-template-columns: 500px 700px;
}

.button {
    width: fit-content;
    height: auto;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ADFF00;
    background-color: #1f1f1f;
    border: none;
    border-radius: 15px;

}

.button#login {
    width: 450px;
}

.button:hover {
    background-color: #ADFF00;
    color: #1f1f1f;
}

.button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.room:hover {
    cursor: pointer;
    background-color: #ADFF00;
    color: #1f1f1f;
}

ul {
    color: #ADFF00;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 700;
    margin-left: 20px;
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    height: 40px;
    background-color: #1f1f1f;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-users{
    align-self: right;
    padding-right: 10px;
}

.room-name{
    padding-left: 10px;
}


.main-box {
    width: auto;
    height: auto;
}

.inp {
    color: #ADFF00;
    background-color: #1f1f1f;
    width: auto;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    margin: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inp:focus {
    border: none;
    outline: none;
}

textarea {
    padding: 5px;
    margin: 10px;
}

.room_elem {
    margin-left: 10px;
}