<!DOCTYPE html>
<html>

<head>
    <title>Watch together</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-box">
        <form name="user_form" method="get">
            <div>
                <label>Your name</label>
                <input class='inp' id="name" name="name" autocomplete="off">
            </div>
            <div>
                <label>Room number</label>
                <input class='inp' id="room_num" name="room_num" autocomplete="off">
            </div>
            <div>
                <input id="login" type="submit" value="Enter room" onclick="return enter_room()" class="button">
            </div>
        </form>

        <ul id="rooms_list">
            Rooms:
        </ul>
    </div>
</body>


<script type="text/javascript">
    function enter_room() {
        document.user_form.action = 'enter_room/' + document.getElementById('room_num').value + `?name=${document.getElementById('name').value}`;
    }

    function enter_room_num(num) {
        location.href = 'enter_room/' + num.firstChild.textContent + `?name=${document.getElementById('name').value}`;
    };


    const myList = document.querySelector('ul');
    const myRequest = new Request('/rooms');

    fetch(myRequest)
        .then((response) => response.json())
        .then((data) => {
            for (const room of data.rooms) {
                const listItem = document.createElement('li');
                listItem.setAttribute('onclick', 'enter_room_num(this)')
                listItem.setAttribute('class', 'room')
                room_name = document.createElement('div')
                room_name.setAttribute('class', 'room-name')
                room_name.textContent = room.name
                room_users = document.createElement('div')
                room_users.setAttribute('class', 'room-users')
                room_users.textContent = `${room.users}/20`
                listItem.appendChild(room_name);
                listItem.appendChild(room_users)
                myList.appendChild(listItem);
            }
        })
        .catch(console.error);
</script>

</html>