<!DOCTYPE html>
<html>
<style>

</style>

<head>
    <title>Watch together</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/room.css') }}">
</head>

<body>
    <h1> Hello in room {{id}}</h1>
    <h2 id="cur_film"> You're currently watching </h2>
    <div class="grid-container">
        <div class="grid-item" id="video_grid">
            <video id='video' type="video/mp4" controls class="video_box" src="{{link}}">
            </video>
        </div>
        <div class="grid-item" id="list_grid">
            <h3>Films list:</h3>
            <ul id="films_list"></ul>
        </div>
        <div class="grid-item" id="back_button">
            <input id="login" type="submit" value="Leave room" onclick="return leave_room()" class="button">
        </div>
        <div class="grid-item" id="logs">
            <h3>Logs</h3>
            <ul id='messages'>
            </ul>
        </div>

    </div>


</body>


<script>

    var needSeek = true;

    var state = 'pause'; const video = document.getElementById('video'); video.addEventListener('loadeddata', () => {
        video.currentTime = '{{time}}';
        needSeek = false;
    }, false);

    if ('{{link}}' == '/video/') {
        video.style.display = "none";
        document.getElementById('cur_film').textContent = "You're currently watching nothing!"
    }
    video.addEventListener('playing',
        (event) => {
            console.log()
            if (state != 'play') {
                sendMessage(event, 'state: play');
            }
        });

    video.addEventListener('pause', (event) => {
        if (state != 'pause') { sendMessage(event, 'state: pause') }
    });

    // document.getElementById('play').addEventListener('click', sendMessage);
    function control() {
        if (document.querySelector('video').paused) {
            document.querySelector('video').play();
        }
        else {
            document.querySelector('video').pause();
        }
    };


    video.addEventListener('seeked', seek);

    function seek(event) {
        console.log(event)
        if (needSeek) {
            sendMessage(event, 'seek: ' + event.target.currentTime);
        }
        needSeek = true;
    }


    // WebSocket part
    var logs = document.getElementById('messages')

    var url = location.pathname.split('/');
    console.log(url); var ws = new WebSocket(`ws://{{server}}:8000/room/${url[2]}/controls?name=test`);
    ws.onmessage = function (event) {
        console.log(event.data)
        if (event.data.includes('state: ')) {
            state = event.data.split(' ')[1];
            control();
        }
        else if (event.data.includes('seek: ')) {
            needSeek = false;
            video.currentTime = event.data.split(' ')[1];
        }
        else if (event.data.includes('film: ')) {
            document.getElementById('cur_film').textContent = "You're currently watching " + event.data.split(' ')[1]
            video.setAttribute('src', "/video/" + event.data.split(' ')[1]);
        }
        else if (event.data.includes('connected') || event.data.includes('disconnected')) {
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            logs.appendChild(message);
            logs.scrollTo(0, logs.scrollHeight);
        }
    };

    ws.addEventListener('open', (event) => {
        ws.send(`{{name}} connected`);
    });

    function sendMessage(event, text) {
        if (text.includes('state')) {
            state = text;
        }
        ws.send(text);
    }


    function returnBack() {
        location.href = `/${url[1]}/${url[2]}?new=1`
    }

    const myList = document.querySelector(' ul'); const myRequest = new Request('/films'); fetch(myRequest)
        .then((response) => response.json())
        .then((data) => {
            for (const film of data.films) {
                const listItem = document.createElement('li');
                listItem.setAttribute('onclick', 'Alert(this.firstChild.textContent)')
                listItem.setAttribute('class', 'film')
                child = document.createElement('strong');
                child.setAttribute('class', 'film_elem')
                listItem.appendChild(child).textContent = film;
                myList.appendChild(listItem);
            }
        })
        .catch(console.error);

    console.log(myList);

    function Alert(film) {
        document.getElementById('cur_film').textContent = "You're currently watching " + film
        video.setAttribute('src', '/video/' + film);
        video.style.display = "block";
        sendMessage(event, 'film: ' + film)
    }

    function film_link() {
        document.user_form.action = location.pathname + '/url';
    }

    function leave_room() {
        document.location.href = '/'
    }
</script>



</html>